[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/nils-holmberg/socs-qmd/blob/main/jnb/glm/data_wide_long.ipynb)

# linear mixed effects using jamovi

- https://www.youtube.com/watch?v=sIhaCBofWck
- https://www.youtube.com/watch?v=mM6vgh9_6Jw
- https://www.youtube.com/watch?v=ceAyleIjYQc

# import data

In [ ]:
library(tidyverse)

In [ ]:
# Specify the file path
file_path <- "/content/genai-trust.tsv"

# Read the TSV file into a dataframe
data <- read.table(file_path, header = TRUE, sep = "\t", stringsAsFactors = FALSE)

# select sample

In [ ]:
wide_data = data |> select(c(76,3,19,23,27,75)) |> rename(age_group=VAR01)

wide_data |> head()

  participant age_group VAR17_1 VAR18_1 VAR19_1 condition
1 1           5         5       6       5       control
2 2           2         3       4       5       control
3 3           5         5       6       5       control
4 4           1         5       6       5       control
5 5           3         5       5       5       control
6 6           2         4       6       4       control

In [ ]:
dim(wide_data)

[1] 200   6

# transform data

In [ ]:
long_data = wide_data %>%
  pivot_longer(cols = starts_with("VAR"),
               names_to = "name",
               values_to = "value")

long_data |> head()

  participant age_group condition name    value
1 1           5         control   VAR17_1 5
2 1           5         control   VAR18_1 6
3 1           5         control   VAR19_1 5
4 2           2         control   VAR17_1 3
5 2           2         control   VAR18_1 4
6 2           2         control   VAR19_1 5

In [ ]:
dim(long_data)

[1] 600   5